src.js
[{"id":"c75b40c1.738cc","type":"ui_template","z":"52fafc82.6abaa4","group":"e2403253.7a84f","name":"Listado de usuarios","order":1,"width":"0","height":"0","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n      <th>Usuario</th>\n      <th>Activo</th>\n      <th>Nombre</th>\n      <th>Apellidos</th>\n      <th>Modificar</th>\n      <th>Eliminar</th>\n  </tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{msg.payload[$index].payload.usuario}}</td>\n    <td><span ng-true-value=\"'YES'\" ng-false-value=\"'NO'\">{{msg.payload[$index].payload.Activo}}</span></td>\n    <td>{{msg.payload[$index].payload.nombre}}</td>\n    <td>{{msg.payload[$index].payload.apellidos}}</td>\n    <td>\n      <md-button ng-click=\"send({payload:modify()})\" aria-label=\"Modificar\">\n        <span flex style=\"color: blue\" >\n        <i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i>\n        </span>\n      </md-button>\n    </td>\n    <td>\n      <md-button ng-click=\"send({payload:delete()})\" aria-label=\"Eliminar\">\n        <span flex style=\"color: red\" ><i class=\"fa fa-trash-o\" aria-hidden=\"true\"></i></span>\n      </md-button>\n    </td>\n  </tr>\n</table>\n\n<script>\n\n  this.scope.modify = function() {\n    return \"modify\"\n  }\n\n  this.scope.delete = function() { \n    return \"delete={{$index + 1}}\" \n  }\n</script>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":750,"y":80,"wires":[["3a930f5c.14d3c"]]},{"id":"aff1370.dd765c8","type":"ui_ui_control","z":"52fafc82.6abaa4","name":"ui control","x":320,"y":440,"wires":[[]]},{"id":"b41ee903.42f138","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":10,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"person_add","payload":"Usuario","payloadType":"str","topic":"","x":70,"y":440,"wires":[["aff1370.dd765c8"]]},{"id":"da9ef283.93a5d","type":"function","z":"52fafc82.6abaa4","name":"mongodb limit","func":"// mongoDB necesita limitar la consulta\nvar pagina = global.get(\"pagina\");\nmsg.limit = 5; // de 5 en 5\nmsg.skip = (pagina-1)*5;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["41b88f39.e148b","b60c7e7f.2a33a"]]},{"id":"4ea7cea2.8cb16","type":"template","z":"52fafc82.6abaa4","name":"CSS","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":650,"y":20,"wires":[["c75b40c1.738cc"]]},{"id":"1372f932.c762a7","type":"ui_form","z":"52fafc82.6abaa4","name":"Datos de usuario","label":"","group":"f8f4009e.99123","order":0,"width":0,"height":0,"options":[{"label":"Usuario","value":"usuario","type":"text","required":true},{"label":"Contraseña","value":"password","type":"password","required":true},{"label":"Activo","value":"Activo","type":"switch","required":true},{"label":"Nombre","value":"nombre","type":"text","required":true},{"label":"Apellidos","value":"apellidos","type":"text","required":true},{"label":"Correo electrónico","value":"email","type":"email","required":true},{"label":"Teléfono","value":"telefono","type":"text","required":false}],"formValue":{"usuario":"","password":"","Activo":false,"nombre":"","apellidos":"","email":"","telefono":""},"payload":"","topic":"","x":100,"y":520,"wires":[["549d85c3.9e4ccc","13a8b1ba.b9fc1e","8af1075f.2f2188"]]},{"id":"549d85c3.9e4ccc","type":"debug","z":"52fafc82.6abaa4","name":"","active":false,"console":"false","complete":"false","x":350,"y":580,"wires":[]},{"id":"13a8b1ba.b9fc1e","type":"mongodb out","z":"52fafc82.6abaa4","mongodb":"9a9729e0.5eeae8","name":"usuarios","collection":"usuarios","payonly":false,"upsert":false,"multi":false,"operation":"store","x":520,"y":500,"wires":[]},{"id":"b3f4a05.eda926","type":"debug","z":"52fafc82.6abaa4","name":"","active":false,"console":"false","complete":"payload","x":710,"y":200,"wires":[]},{"id":"41b88f39.e148b","type":"mongodb in","z":"52fafc82.6abaa4","mongodb":"9a9729e0.5eeae8","name":"usuarios","collection":"usuarios","operation":"find","x":500,"y":40,"wires":[["b3f4a05.eda926","4ea7cea2.8cb16"]]},{"id":"ad3816fb.f91818","type":"inject","z":"52fafc82.6abaa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":120,"wires":[["da9ef283.93a5d","e79eadbe.f7557","a02616f2.6c3118"]]},{"id":"6aefbaec.47e8e4","type":"ui_toast","z":"52fafc82.6abaa4","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":660,"y":540,"wires":[]},{"id":"8af1075f.2f2188","type":"change","z":"52fafc82.6abaa4","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Se ha creado un nuevo usuario","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["6aefbaec.47e8e4","bedc942c.f44dd8"]]},{"id":"fb1e1d19.a08e7","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":11,"width":"3","height":"1","passthru":false,"label":"Volver al panel","color":"","bgcolor":"","icon":"fast_rewind","payload":"Panel","payloadType":"str","topic":"","x":100,"y":480,"wires":[["7db5609b.c48d5"]]},{"id":"7db5609b.c48d5","type":"ui_ui_control","z":"52fafc82.6abaa4","name":"","x":320,"y":480,"wires":[[]]},{"id":"bedc942c.f44dd8","type":"function","z":"52fafc82.6abaa4","name":"Volver al listado","func":"msg.payload = \"Usuarios\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["a59dfe88.dedb"]]},{"id":"a59dfe88.dedb","type":"ui_ui_control","z":"52fafc82.6abaa4","name":"","x":680,"y":640,"wires":[[]]},{"id":"e79eadbe.f7557","type":"mongodb in","z":"52fafc82.6abaa4","mongodb":"9a9729e0.5eeae8","name":"usuarios","collection":"usuarios","operation":"count","x":120,"y":220,"wires":[["36991cd2.b6ea14","80f2db5.9bd0728"]]},{"id":"80f2db5.9bd0728","type":"function","z":"52fafc82.6abaa4","name":"Calcular nº de páginas","func":"var paginas = Math.ceil(parseInt(msg.payload) / 5);\nglobal.set(\"paginas\",paginas);\nmsg.paginas = paginas;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["e944b37d.0fad6","e9ea0a3c.055688"]]},{"id":"e944b37d.0fad6","type":"debug","z":"52fafc82.6abaa4","name":"","active":false,"console":"false","complete":"true","x":530,"y":200,"wires":[]},{"id":"36991cd2.b6ea14","type":"ui_text","z":"52fafc82.6abaa4","group":"e2403253.7a84f","order":8,"width":"2","height":"1","name":"","label":"con","format":"{{msg.payload}}","layout":"row-center","x":270,"y":260,"wires":[]},{"id":"e9ea0a3c.055688","type":"ui_text","z":"52fafc82.6abaa4","group":"e2403253.7a84f","order":5,"width":"1","height":"1","name":"","label":"de","format":"{{msg.paginas}}","layout":"row-center","x":530,"y":240,"wires":[]},{"id":"8b954fac.71ddb","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"navigate_before","payload":"anterior","payloadType":"str","topic":"","x":70,"y":280,"wires":[["1630dfaf.64ee5"]]},{"id":"29ef070a.695798","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":6,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"navigate_next","payload":"siguiente","payloadType":"str","topic":"","x":70,"y":320,"wires":[["1630dfaf.64ee5"]]},{"id":"1630dfaf.64ee5","type":"function","z":"52fafc82.6abaa4","name":"Cambiar página","func":"var pagina = global.get(\"pagina\");\nvar paginas = global.get(\"paginas\");\nif (msg.payload === 'primera') {\n    pagina = 1;\n}\nif (msg.payload === 'siguiente' && pagina < paginas) {\n    pagina += 1;\n}\nif (msg.payload === 'anterior' && pagina > 1) {\n    pagina -= 1;\n}\nif (msg.payload === 'ultima') {\n    pagina = paginas;\n}\nglobal.set(\"pagina\",pagina)\nmsg.pagina = pagina;\nmsg.payload = \"Usuarios\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["57394851.0ec108","538c0657.063858"]]},{"id":"57394851.0ec108","type":"ui_text","z":"52fafc82.6abaa4","group":"e2403253.7a84f","order":4,"width":"2","height":"1","name":"","label":"página","format":"{{msg.pagina}}","layout":"row-center","x":450,"y":300,"wires":[]},{"id":"a02616f2.6c3118","type":"function","z":"52fafc82.6abaa4","name":"pagina","func":"var pagina = context.global;\nglobal.set(\"pagina\",1);\nmsg.pagina = pagina;\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":40,"wires":[[]]},{"id":"538c0657.063858","type":"link out","z":"52fafc82.6abaa4","name":"página","links":["6c7b4a66.611b44","bc584257.823dc"],"x":415,"y":360,"wires":[]},{"id":"6c7b4a66.611b44","type":"link in","z":"52fafc82.6abaa4","name":"skip","links":["538c0657.063858"],"x":195,"y":160,"wires":[["da9ef283.93a5d"]]},{"id":"b60c7e7f.2a33a","type":"debug","z":"52fafc82.6abaa4","name":"","active":false,"console":"false","complete":"skip","x":500,"y":140,"wires":[]},{"id":"ae3993f0.ac1d9","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"first_page","payload":"primera","payloadType":"str","topic":"","x":70,"y":360,"wires":[["1630dfaf.64ee5"]]},{"id":"435eca2d.83da04","type":"ui_button","z":"52fafc82.6abaa4","name":"","group":"e2403253.7a84f","order":7,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"last_page","payload":"ultima","payloadType":"str","topic":"","x":70,"y":400,"wires":[["1630dfaf.64ee5"]]},{"id":"39d4f405.c74c7c","type":"ui_text","z":"52fafc82.6abaa4","group":"e2403253.7a84f","order":9,"width":"2","height":"1","name":"","label":"usuarios","format":"{{msg.payload}}","layout":"row-left","x":400,"y":260,"wires":[]},{"id":"3a930f5c.14d3c","type":"debug","z":"52fafc82.6abaa4","name":"","active":false,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"e2403253.7a84f","type":"ui_group","z":"","name":"Listado de usuarios","tab":"47cce795.a25118","order":1,"disp":true,"width":"24"},{"id":"f8f4009e.99123","type":"ui_group","z":"","name":"Nuevo usuario","tab":"9a5fe271.fb8b2","order":1,"disp":true,"width":"6"},{"id":"9a9729e0.5eeae8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"IoTerra","name":""},{"id":"47cce795.a25118","type":"ui_tab","z":"","name":"Usuarios","icon":"person","order":3},{"id":"9a5fe271.fb8b2","type":"ui_tab","z":"","name":"Usuario","icon":"dashboard","order":18}]
